# build file
*.acn
*.alg
*.acr
*.aux
*.bbl
*.bcf
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.glg
*.glo
*.gls
*.ist
*.fls
*.log
*.run.xml
*.synctex.gz
*.synctex.gz(busy)
*.fdb_latexmk
*.log
*.toc
*.xwm
*.xdv
CMakeCache.txt
build/Makefile
build/CMakeFiles/
build/main/
build/*.cmake

# MacOS Envirable
.DS_Store